In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API keyy

from config import g_key
gmaps.configure(api_key=g_key)

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Lufilufi,-13.8745,-171.5986,83.98,60,1,6.53,WS,2021-10-12 20:50:48
1,1,Sept-Iles,50.2001,-66.3821,58.05,85,90,5.75,CA,2021-10-12 20:50:33
2,2,Barrow,71.2906,-156.7887,30.22,80,90,20.71,US,2021-10-12 20:50:49
3,3,Vilhena,-12.7406,-60.1458,75.42,94,75,13.80,BR,2021-10-12 20:50:49
4,4,Vaini,-21.2000,-175.2000,73.56,83,40,9.22,TO,2021-10-12 20:50:50

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Get the maximum temperature. could also replace temps with heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
gmaps.configure(api_key='AIzaSyD-BaD1Fte6VMwFOgTkEFFFNe3LaAtNsG0')

In [7]:
gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Lufilufi,-13.8745,-171.5986,83.98,60,1,6.53,WS,2021-10-12 20:50:48
3,3,Vilhena,-12.7406,-60.1458,75.42,94,75,13.80,BR,2021-10-12 20:50:49
5,5,Labuhan,-6.8844,112.2051,77.27,78,100,8.86,ID,2021-10-12 20:50:50
6,6,Honiara,-9.4333,159.9500,81.63,80,76,1.63,SB,2021-10-12 20:50:51
9,9,Jardim,-21.4803,-56.1381,89.04,38,7,5.48,BR,2021-10-12 20:50:45
10,10,Praia,14.9215,-23.5087,79.34,73,75,16.11,CV,2021-10-12 20:50:52
12,12,Faanui,-16.4833,-151.7500,80.51,76,72,10.87,PF,2021-10-12 20:50:53
21,21,Hithadhoo,-0.6000,73.0833,82.13,76,100,15.46,MV,2021-10-12 20:50:57
23,23,Puerto Colombia,10.9878,-74.9547,87.89,78,100,10.33,CO,2021-10-12 20:50:58
25,25,San Pedro,14.3500,121.0167,80.15,93,90,2.30,PH,2021-10-12 20:50:59

In [13]:
# Determine if there are any null values
preferred_cities_df.count()

City_ID       196
City          196
Lat           196
Lng           196
Max Temp      196
Humidity      196
Cloudiness    196
Wind Speed    196
Country       195
Date          196
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0          Lufilufi      WS     83.98 -13.8745 -171.5986
3           Vilhena      BR     75.42 -12.7406  -60.1458
5           Labuhan      ID     77.27  -6.8844  112.2051
6           Honiara      SB     81.63  -9.4333  159.9500
9            Jardim      BR     89.04 -21.4803  -56.1381
10            Praia      CV     79.34  14.9215  -23.5087
12           Faanui      PF     80.51 -16.4833 -151.7500
21        Hithadhoo      MV     82.13  -0.6000   73.0833
23  Puerto Colombia      CO     87.89  10.9878  -74.9547
25        San Pedro      PH     80.15  14.3500  121.0167

In [15]:
# Set parameters to search for a hotel.
params = {
   "radius": 5000,
   "type": "lodging",
   "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
   # Get the latitude and longitude.
   lat = row["Lat"]
   lng = row["Lng"]
   # Add the latitude and longitude to location key for the params dictionary.
   params["location"] = f"{lat},{lng}"
   # Use the search term: "lodging" and our latitude and longitude.
   base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   # Make request and get the JSON data from the search.
   hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    
   try:
       hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
   except (KeyError, IndexError):
       print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Lufilufi,WS,83.98,-13.8745,-171.5986,Leuaina Beach Resort and Spa
3,Vilhena,BR,75.42,-12.7406,-60.1458,Hotel Mirage
5,Labuhan,ID,77.27,-6.8844,112.2051,PT PPI Lamongan Tambak C
6,Honiara,SB,81.63,-9.4333,159.9500,Heritage Park Hotel
9,Jardim,BR,89.04,-21.4803,-56.1381,Estancia Hotel - Jardim MS
10,Praia,CV,79.34,14.9215,-23.5087,LT Aparthotel
12,Faanui,PF,80.51,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
21,Hithadhoo,MV,82.13,-0.6000,73.0833,Scoop Guest House
23,Puerto Colombia,CO,87.89,10.9878,-74.9547,Hotel El Emigrante
25,San Pedro,PH,80.15,14.3500,121.0167,Villa Veronica Resort Private Pool

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))